==
<section id="one" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2><pre>Hello world</pre></h2>
            </header>
            <p>Born and raised in Almere, Netherlands, a young computer fanatic emerged. Over the past five years I've garnered a level of knowledge and confidence in webdevelopment that I'm ready to use to push performing teams, to win.</p>
            <blockquote>
                <p>Every champion was once a contender who refused to give up.</p>
                <footer>— Rocky Balboa</footer>
            </blockquote>
        </div>
        <span class="image"><img src="{{'assets/images/matthijs1.png'|theme}}" alt="image" /></span>
    </div>
</section>