==
<!-- Third Section -->
<section id="three" class="main">
    <header class="major">
        <h2>Experience</h2>
    </header>
    <p class="content">
        <ul class="statistics">
            <li class="style1">
                <div class="statistic-logo">
                    <img src="{{ 'assets/images/jobs/logo-samhoud.png' | theme }}"/>
                </div> DevOps
            </li>
            <li class="style4">
                <div class="statistic-logo">
                    <img src="{{ 'assets/images/jobs/logo-accenture.png' | theme }}"/>
                </div> Full cycle Dev
            </li>
            <li class="style2">
                <div class="statistic-logo">
                    <img src="{{ 'assets/images/jobs/logo-socialr.png' | theme }}"/>
                </div> Dev
            </li>
            <li class="style3">
                <div class="statistic-logo">
                    <img src="{{ 'assets/images/jobs/logo-toomba.png' | theme }}"/>
                </div> Research
            </li>
            <li class="style4">
                <div class="statistic-logo">
                    <span class="icon fa-laptop"></span>
                </div> Dev/Project Lead
            </li>
            <li class="style5">
                <div class="statistic-logo">
                    <img src="{{ 'assets/images/jobs/logo-raet.png' | theme }}"/>
                </div> UX Design
            </li>
        </ul>
        <div>
            <header class="major">
                <h2>Projects</h2>
            </header>
            <div class="12u row">
                <div class="6u 12u(xsmall)">
                    <a href="https://toolr.nl"><h3>TOOLR</h3>
                    <img src="{{ 'assets/images/toolr_thumbnail.png' | theme }}" width="300"/></a>
                    <p>360 feedback tool designed to support the entire feedback process from assigning feedbackgivers to rolling out reports.</p>
                </div>
                <div class="6u 12u(xsmall)">
                    <a href="https://interieurbox.nl"><h3>Interieurbox</h3>
                    <img src="{{ 'assets/images/interieurbox_thumbnail.png' | theme }}" width="300"/></a>
                    <p>Dutch product website created to sell interior styling packages for a small buck.</p>
                </div>
            </div>
        </div>
    </p>
</section>
<section class="brands midsection">
    <i class="fab fa-laravel"></i>
    <i class="fab fa-vuejs"></i>
    <i class="fab fa-node"></i>
    <i class="fab fa-python"></i>
    <i class="fab fa-wordpress"></i>
    <i class="fab fa-docker"></i>
    <i class="fab fa-github"></i>
    <i class="fab fa-digital-ocean"></i>
    <i class="fab fa-aws"></i>
</section>