==
<section id="two" class="main">
    <header class="major">
        <h2>Passion</h2>
    </header>
    <ul class="features">
        <li>
            <span class="icon major style1 fa-code"></span>
            <h3>(Web)development</h3>
            <p>Coding has been my field of expertise in the last five years, I've worked together within (scrum) teams to achieve great results using Laravel, Vue.js, MySQL as my main stack.<br>
            Currently learning to use Python & Tensorflow for AI development.</p>
        </li>
        <li>
            <span class="icon major style3 fa-gamepad"></span>
            <h3>Gaming</h3>
            <p>My all time passion, outlet for my drive and my life-long training field. I thrive in a game-like environment where I have made numerous achievements and reflect this behavior in the one big game called reality.</p>
        </li>
        <li>
            <span class="icon major green fa-leaf"></span>
            <h3>Veganism</h3>
            <p>A philosophy I stand behind fully and think about in all decisions I make in life. I've never been an animal lover, it has been rationale that lead me to this philosophy, feel free to ask if you want to know more.</p>
        </li>
    </ul>
</section>